<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href= "./assets/css/coursePage.css">
</head>
<body>
   <h2 class="admin">
     Kurslar
   </h2>
  <div class="course-info">
   <% for(let j of courses) {%>
      <h2>
        <strong>Kurs nomi:</strong> <%= j.name %> 
         
      </h2>
      <strong> <strong>Kurs narxi:</strong> <%= j.price %>
      </strong>
      <%}%>
  </div>
   <a href="/admin" class="admin-page">Admin Page</a>
</body>
</html>