<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href= "./assets/css/coursePage.css">
</head>
<body>
   <h2 class="admin">
     O'qituvchilar
   </h2>
  <div class="course-info">
   <% for(let j of teachers) {%>
      <h2>
        <strong>ID raqami:</strong> <%= j.id %> 
         
      </h2>
      <h2> <strong>Ismi:</strong> <%= j.username %>
      </h2>
      <h2>
         <strong>telefon raqami:</strong> <%= j.tel %> 
          
       </h2>
      <%}%>
  </div>
   <a href="/admin" class="admin-page">Admin Page</a>
</body>
</html>